/* Universal */

hr{
	display:none;
}

body{
	background-color:#ddd; /* This gets swapped out on scroll in the javascript */
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
	color:#FFFFFF;
}

h1{
	font-size:75px;
	margin-bottom:25px;
	font-weight:100;
	color: rgba(255,255,255,.7);
}

.emphasis{
	color: #fafafa;
	text-shadow: 2px 2px 1px rgba(0,0,0,.15);
}

.title{
	color:rgba(255,255,255,.7);
	font-size:1.8em;
	margin-left:50px;
}

h2{
	text-indent: 45px;
	font-weight:100;
	color: rgba(255,255,255,.7);
}

section{
	margin-top:65px;
}

a{
	color:rgba(255,255,255,.75);
}

a:hover{
	text-decoration:none;
	color:#fff;
}

h3 small{
	color:rgba(255,255,255,.4);
	font-weight:100;
}

blockquote{
	border-left: 5px solid rgba(255,255,255,.3);
}

/* Navbar Styles */

.navbar{
	background:#BDC3C7;
	border-bottom:none;
	box-shadow:5px 2px 0 black;
	position:absolute;
	width:355px;
}

.navbar-default .navbar-nav > li{
	transition: 0.3s ease;
	border-bottom:2px solid #BDC3C7;
	border-width:1%;
}

.navbar-default .navbar-nav > li:hover{
	transition: 0.3s ease;
	border-bottom:2px solid #ECF0F1;
	border-width:50%;
}


.navbar-default .navbar-nav > li > a {
	transition: 0.3s ease;
	color: #777777;
}

.navbar-default .navbar-nav > li > a:hover {
	transition: 0.3s ease;
	color: #ECF0F1;
}

/*Second Section*/

#byu{
	width:50%;
	opacity:.25;
}

a#isys{
	border-bottom: 3px dotted white;
}

a#isys:hover{
	border-bottom: 3px dotted white;
}

.large-quote{
	color: rgba(255,255,255,.175);
	font-size:85px;
}

.lead{
	font-size:2em;
}

.fa-quote-right{
	position:absolute;
	left:-80px;
	top:37px;
}

.fa-quote-left{
	position:absolute;
	left:50px;
	top:-15px;
}

#three img{
	position:absolute;
	bottom:0;
	right:0;
}

/* Third Section */

#four .lead{
	color: rgba(255,255,255,.7)
}

dl{
	font-size:1.2em;
	color:rgba(255,255,255,.8);
}

.pyc{
	box-shadow: 8px 8px 20px rgba(0,0,0,.5)
}

.pyc:hover{
	box-shadow: 15px 15px 20px rgba(0,0,0,.5);
}

#five a{
	text-decoration: underline
}

#five .col-md-3{
	margin-top: 50px;
}

@media all and (max-width:767px){
	section{
		margin-top:10px;
		margin-bottom:30px;
	}

	hr{
		display:block;
		width:50%;
		border-color:rgba(255,255,255,.3);
	}

	div.onepage-wrapper > section.section{
		height:auto;
	}

	h1{
		font-size:50px;
	}

	h2{
		text-indent:0;
	}

	.title{
		color:rgba(255,255,255,.7);
		font-size:30px;
		margin-left:0px;
	}

	#two > div > h2 > i.fa-2x{
		font-size:30px;
	}

	/*br {
		display:none;
	}*/

	#three > div > div > div > h1:first-of-type{
		margin-bottom:0;
	}

	#three > div > div > div > h1:nth-of-type(2){
		margin-top:0;
		margin-bottom:0;
		line-height:70px;
	}

	.lead{
		font-size:25px;
	}

	.lead > a{
		font-size:20px;
	}

	.fa-quote-right{
		position:absolute;
		left:75%;
		top:-60px;
	}

	.fa-quote-left{
		position:absolute;
		left:5px;
		top:0;
	}

	#three img{
		display:none;

	}
}