html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

body {
	font-family:"Lato",Arial,sans-serif;
	font-weight:300;
}

#content {
	min-height:100%;
	position:relative;
}

main {
	padding-top:50px;
	padding-bottom:200px;
}

h1 {
	font-weight: 300;
	font-size: 45px;
}

p {
	font-size: 16px;
}

/* SIDEBAR */
ul {
	list-style-type: none;
}

#sidebar ul li a {
	color: #777;
	transition: all .3s;
	-webkit-transition: all .3s;
}

#sidebar ul li a:hover, #sidebar ul li a:focus {
	color: #222;
	text-decoration: none;
}

#sidebar img {
	padding: 25px 20px;
}


/* NAVBAR */

.navbar {
	background:transparent;
	border:none;
}

.navbar-default .navbar-nav>li>a{
	color:#222;
	opacity:.8;
	transition: all .3s;
	-webkit-transition: all .3s;
	font-size:16px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color:#222;
	opacity:1;
}

.navbar-right {
	padding-right: 45px;
}

/* FOOTER */
footer {
	padding:20px;
	color:white;
	width: 100%;
	background-color: #22313F;
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
}

footer address p {
	opacity: .75;
}

footer p.lead {
	margin-bottom: 0;
}

footer address p.lead {
	opacity: .85;
	margin-bottom: -15px;
}