body {
	color: #000 !important;
}

.page-header {
	padding-top: 100px;
	padding-bottom: 10px;
	margin-bottom: 0px;
	border-bottom: none;
}

.page-header h1 {
	font-size: 160px;
}

section {
	height: 100px;
	padding-top: 0px;
	padding-bottom: 0px;
	transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	transition: transform 1.25s;
	-o-transition: transform 1.25s;
	-moz-transition: transform 1.25s;
	-webkit-transition: transform 1.25s;
}

section:last-of-type {
	margin-bottom: 150px;
}

.content-body {
	display: none;
}

h2 {
	font-size: 80px;
	font-weight: 300;
}

h2.small {
	font-size: 55px;
	color: #000;	
	margin-top: 0;
}

.education {
	background: url("../assets/byu.jpg") center center no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.education:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,1);
	transition: background 2.5s;
	-o-transition: background 2.5s;
	-moz-transition: background 2.5s;
	-webkit-transition: background 2.5s;
}

.education.show-image:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	height: 750px;
	background: rgba(255,255,255,.85);
}

.shadows {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.shadows:before, .shadows:after {
	position: absolute;
	z-index: 2;
	content: " ";
	width: 100%;
	box-shadow: 0 0 90px 60px white;
}

.shadows:before {
	top: 0;
}

.shadows:after {
	bottom: 0;
}

.education > .content {
	position: relative;
	z-index: 10;
}

.company {
	margin-top: 45px;
	padding: 20px 0 20px 10px;
}

.experience p.lead {
	margin-top: 25px;
	margin-bottom: 5px;
}

.udachi {
	border-left: 5px solid rgba(133,196,64,1);
}

.udachi .logo {
	max-width: 250px;
}

.byu {
	border-left: 5px solid rgba(0, 202, 236, 1);
}

.byu .logo {
	max-width: 180px;
}

.skills i {
	font-size: 100px;
}