/* MAIN STYLES */

html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}

body {
	font-family:"Lato",Arial,sans-serif;
	font-weight:300;
}

#content {
	min-height:100%;
	position:relative;
}

main {
	padding-top:50px;
	padding-bottom:200px;
}

h1 {
	font-weight: 300;
	font-size: 45px;
}

p {
	font-size: 16px;
}

@media all and (max-width:768px){
	h1 {
		text-align: center;
	}
	main p.lead {
		text-align:center;
		font-size:20px;
	}
}

/* NAVBAR */

.navbar {
	background:transparent;
	border:none;
	transition: all .3s;
	-webkit-transition: all .3s;
}

.navbar-default .navbar-nav>li>a{
	color:#222;
	opacity:.8;
	transition: all .3s;
	-webkit-transition: all .3s;
	font-size:16px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color:#222;
	opacity:1;
}

.navbar-right {
	padding-right: 45px;
}

.navbar-default .navbar-nav>li>a.btn {
	padding: 5px 10px;
	margin: 9px 10px 0 0;
	font-weight: 300;
	background:transparent;
}

.navbar-default .navbar-nav>li>a.btn:hover {
	color:#222;
}

.navbar-default .navbar-toggle {
	line-height: 0;
	border-color: transparent;
	margin: 0 10px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background:transparent;
}

@media all and (max-width: 768px) {
	.navbar-collapse {
		background: #fff;
		box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 6px;
	}

	.navbar-header {
		background: white;
	}
}

/* SIDEBAR */

#sidebar ul {
	list-style-type: none;
}

#sidebar ul li a {
	color: #777;
	transition: all .3s;
	-webkit-transition: all .3s;
}

#sidebar ul li a:hover, #sidebar ul li a:focus {
	color: #222;
	text-decoration: none;
}

#sidebar ul li ul {
	padding: 0 30px;
}

#sidebar img {
	padding: 25px 20px;
}

@media all and (max-width: 768px) {
	#sidebar img {
		max-width: 75%;
		min-width: 150px;
		padding: 0 20px 25px 20px;
	}
}

/* FOOTER */
footer {
	padding:20px;
	color:white;
	width: 100%;
	background-color: #22313F;
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
}

footer address p {
	opacity: .75;
}

footer p.lead {
	margin-bottom: 0;
}

footer address p.lead {
	opacity: .85;
	margin-bottom: -15px;
}

footer a {
	color: white;
	opacity:.9;
}

footer a:hover, footer a:focus {
	color:white;
	opacity:1;
	text-decoration: none;
}

@media all and (max-width: 768px) {
	main {
		padding-bottom: 300px;
	}
	footer {
		padding: 20px 0;
	}
	footer p.lead {
		font-size:20px;
	}
}
